@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 132 65% 98%;
    --foreground: 132 50% 2%;
    --muted: 252 15% 94%;
    --muted-foreground: 252 10% 34%;
    --popover: 132 65% 97%;
    --popover-foreground: 132 50% 1%;
    --card: 132 65% 97%;
    --card-foreground: 132 50% 1%;
    --border: 132 12% 91%;
    --input: 132 12% 91%;
    --primary: 132 84% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 252 84% 33%;
    --secondary-foreground: 252 84% 93%;
    --accent: 12 84% 33%;
    --accent-foreground: 12 84% 93%;
    --destructive: 19 91% 36%;
    --destructive-foreground: 0 0% 100%;
    --ring: 132 84% 33%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 132 59% 3%;
    --foreground: 132 27% 100%;
    --muted: 252 15% 6%;
    --muted-foreground: 252 10% 66%;
    --popover: 132 59% 4%;
    --popover-foreground: 0 0% 100%;
    --card: 132 59% 4%;
    --card-foreground: 0 0% 100%;
    --border: 132 12% 12%;
    --input: 132 12% 12%;
    --primary: 132 84% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 252 84% 33%;
    --secondary-foreground: 252 84% 93%;
    --accent: 12 84% 33%;
    --accent-foreground: 12 84% 93%;
    --destructive: 19 91% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 132 84% 33%;
  }
}


@layer base {
  body {
    @apply font-primary text-black dark:text-primary-foreground;
  }
}