@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 44% 98%;
    --foreground: 40 74% 5%;
    --muted: 40 40% 87%;
    --muted-foreground: 40 9% 27%;
    --popover: 40 44% 98%;
    --popover-foreground: 40 74% 5%;
    --card: 40 44% 98%;
    --card-foreground: 40 74% 5%;
    --border: 40 5% 89%;
    --input: 40 5% 89%;
    --primary: 0 100% 28.82%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 19% 81%;
    --secondary-foreground: 40 19% 21%;
    --accent: 40 27% 75%;
    --accent-foreground: 40 27% 15%;
    --destructive: 20 92% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 38% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 40 36% 4%;
    --foreground: 40 33% 98%;
    --muted: 0 40% 13%;
    --muted-foreground: 0 9% 73%;
    --popover: 40 36% 4%;
    --popover-foreground: 40 33% 98%;
    --card: 40 36% 4%;
    --card-foreground: 40 33% 98%;
    --border: 40 5% 14%;
    --input: 40 5% 14%;
    --primary: 303.4 78.82% 27.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 73%;
    --accent: 0 9% 23%;
    --accent-foreground: 0 9% 83%;
    --destructive: 20 92% 55%;
    --destructive-foreground: 0 0% 0%;
    --ring: 40 38% 45%;
  }
}




@layer base {
  body {
    @apply font-primary text-black dark:text-primary-foreground;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}